<div id="wrapper">
  <form #form="ngForm" (ngSubmit)="addComment(form)">
    <div id="margin"></div>
    <textarea
      placeholder="Add your comment."
      id="text"
      type="text"
      name="text"
      rows="6"
      ngModel
      required
      minlength="4"
      #inputText="ngModel"
      style="
        overflow: hidden;
        word-wrap: break-word;
        resize: none;
        height: 250px;
      "
    ></textarea>
    <ng-container *ngIf="inputText.touched">
      <p class="error" *ngIf="inputText.errors?.['required']">
        Comment is required!
      </p>
      <p class="error" *ngIf="inputText.errors?.['minlength']">
        Comment must be at least 4 characters!
      </p>
    </ng-container>
    <br />
    <button class="button">Create</button>
    <button class="button" (click)="onCancel($event)">Cancel</button>
  </form>
</div>
