<div class="row">
  <h1>Add your favourite<br />restaurant</h1>
</div>
<div class="row">
  <span>
    <input class="basic-slide" id="name" type="text" /><label for="name"
      >Name</label
    >
  </span>
  <span>
    <input class="basic-slide" id="type" type="text" /><label for="type"
      >Type</label
    >
  </span>
  <span>
    <input class="basic-slide" id="location" type="text" /><label for="location"
      >Location</label
    >
  </span>
  <span>
    <input class="basic-slide" id="photo" type="text" /><label for="photo"
      >Photo</label
    >
  </span>

  <span>
    <textarea
      class="basic-slide"
      id="description"
      type="text"
      rows="6"
    ></textarea
    ><label for="description" class="description">Description</label>
  </span>
</div>
