header img {
  height: auto;
  display: block;
  margin: 3px 10px;
}

header {
  background-color: rgb(253, 245, 245);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 25px 0 black;
  z-index: 10;
}

header ul {
  display: flex;
}

header li {
  display: block;
  margin: 13px 5px;
  padding: 0 0.6em;
  list-style: none outside;
}

header li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.4em 0.7em;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

header li a:hover {
  border-radius: 0.9em;
  background-color: darkgrey;
  color: white;
  cursor: pointer;
}

.div-header {
  display: flex;
}
