<div class="container">
  <div class="card">
    <div class="card-image">
      <img src="{{ restaurant.img }}" />
    </div>
    <div class="card-text">
      <h2 class="card-title">{{ restaurant.name }}</h2>
      <p class="card-body">
        {{ restaurant.description }}
      </p>
      <span class="buttons" *ngIf="isOwner">
        <button
          class="button edit"
          routerLink="/restaurants/{{ restaurant._id }}/edit"
        >
          Edit
        </button>

        <button class="button delete" (click)="removeRestaurant()">
          Delete
        </button>
      </span>
    </div>

    <button
      class="card-add"
      *ngIf="isLoggedIn"
      routerLink="/restaurants/{{ restaurant._id }}/add-comment"
    >
      Add Comment
    </button>
  </div>
</div>

<div class="ag-courses_box">
  <div class="ag-courses_item" *ngFor="let c of comments2">
    <a class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        {{ c.text }}
      </div>

      <div class="ag-courses-item_date-box">
        <span class="ag-courses-item_date"> {{ c.username }} </span>
      </div>
    </a>
  </div>
</div>
