<body>
  <div class="header">
    <h1>We are Sofia Guide Restaurants</h1>
  </div>
  <div class="card">
    <p>
      The idea of the site is to show people`s favorite places for eat in
      <span>Sofia.</span><br />
      Every user can see the list of all uploaded restaurants and can search
      specific type in our search page.<br />
      If you want to have access to all functionality of the application, there
      is Register button in the header.<br />
      After successful register, the logged user can add restaurants in the site
      and also can write comments below every restaurant.
    </p>
  </div>
</body>
